body{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: black;
    height: 100vh;
    }
.headings{
        position:absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
    span{
        color: crimson;
        text-decoration: underline;
    }
.headings h1{
    color: blanchedalmond;
}

.headings p{
    color: white;
    font-size: 20px;
}

h3{
    color: crimson;
    text-decoration: none;
    text-shadow: crimson;

}
    